body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: aliceblue;
  color: #2f316c;
}
Link{
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
  display: flex;
height: 100%;
width: 100%;
}
.medilogo{
  height: 165px;
    width: 249px;
    transform: translate(28px, -6px);
}
header{
  display: flex;
  background-color: #2f316c;
  color: beige;
  justify-content: space-between;
}
.logo{
  background-color: rgb(47 49 108);
  color: beige;
  height: 100vh;
  width: 80vh;
}
.logout{
  height: 30px;
  width: 30px;
  transform: translate(-7px,12px);
}
.mainlogo{
  text-align: center;
}
.slogan{
  font-family: math;
    transform: translate(5px, -20px);
}
.logo>h1{

  font-size: 50px;
  transform: translate(-45px, -18px);
  font-family: emoji;
  /* transform: translate(143px, -140px); */
}
.logon{
  height: 342px;
    width: 433px;
    transform: translate(199px,84px);
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgb(47 49 108);
}
.log{
  height: 100px;
  width: 100px;
  border-radius: 80px;
}  
.loginarea{
  background-color: white;
  width: 100%;
}
.switch{
  display: flex;
}
.s{
  width: 434px;
  height: 44px;
  background-color: #64749b;
  color: beige;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid beige;
}

.doc, .pat{
  height: 40px;
  width: 40px;
  transform: translate(-45px, -2px);
}
button>p{
  font-size: 20px;

  transform: translate(8px, -53px);
}
.login{
  text-align: center;
  font-size: 32px;
  color: rgb(47 49 108);
}
header>img{
  width: 137px;
  height: 97px;
}
input{
  margin: 9px 90px;
  width: 276px;
  border: 0px;
  height: 23px;
  border-bottom: 1px solid black;
  outline: none;
}
.submit, .regsubmit{
  transform: translate(180px, 11px);
    height: 30px;
    width: 75px;
    background-color: #2f316c;
    color: beige;
    border: none;
    border-radius: 4px;
}
.regsubmit{
  transform: translate(84px, -20px);
  height: 30px;
    width: 75px;
    background-color: #2f316c;
    color: beige;
    border: none;
    border-radius: 4px;
}
.register{
  transform: translate(150px, 16px);
}
.reg{
  text-align: center;
  font-size: 12.5px;
  /* display: flex; */
  /* justify-content: space-between; */
  transform: translate(2px ,24px);

}
.data_doc{
  display: none;
}
.data_pat{
  display: block;
}
#bar{
  text-align: center;
  background-color: #2f316c;
  padding: 0%;
  margin: 0%;
  color: #ffffff;
}
.patimage{
  background-color: #ffc839;
    width: 102.25%;
    transform: translate(-10px, -10px);
    border-radius: 23px 23px 0px 0px;
}
.PatImage{
  margin-left: 42%;
  height: 150px;
  width: 150px;
  
  /* border: #2f316c 1px solid; */
  /* border-radius: ; */
}
h2,h3,form{
  color: #2f316c;
  text-decoration: underline #2f316c;
}
.register-area{
  width: 70%;
padding: 10px;
  margin: 5% 15% 5% ;
  border: #2f316c 2px solid;
  border-radius: 25px;
  height: 909px 
}
footer{
  display: flex;
  /* position: fixed; */
  color: #ffffff;
  background-color: #2f316c;
  justify-content: space-between;
}
.navs{
height: 291px;
width: 250px;
border: 1px solid #2f316c;
border-radius: 20px;
color: #2f316c;
margin: 2.5%;
margin-top: 3.5%;
box-shadow: 0px 0px 5px 0.25px grey;
transform: translate(10px 10px);
}
.nav_title{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  background-color: #2f316c;
  color: #ffffff;
  transform: translate(0px , 55px);
  height: 20px;
  margin: 0;
  width: 250px;
  text-align: center;  
}
.images{
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  padding-top: 12.5%;
}
.mainbar{
  display: flex ;
 height: 500px;
}
/* MedicalHistory.css */
#medicines{
  transform: translate(1px, -164px)
}
.medical-history-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #ffffff;
}

th {
  background-color: #f2f2f2;
}
.appointment-dashboard-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.about{
  margin-top: 8px;
  height: 291px;
  color: #2f316c;
  padding: 11px ;
  text-align: center;
  background-color: aliceblue;
}
li{
  list-style-type: none;
}
.profiledata{
  margin-left: 15.5%;
    
    background: aliceblue;
}
textarea{
  width: 200px;
    height: 25px;
    transform: translate(186px, 10px);
}
#editprofile{
  transform : translate(610px, 15px)
}
#apply{
  transform: translate(0px, 10px);
}
.search{
  height: 30px;
  width: 75px;
  background-color: #2f316c;
  color: beige;
  border: none;
  border-radius: 4px;
  transform: translate(-69px, -4px);
}
/* Search bar container */
/* Search bar container */
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Search input */
.search-input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  flex: 1;
  outline: none;
  transition: border-color 0.3s ease;
}

/* Search button */
.search-button {
  padding: 10px 20px;
  background-color: #2f316c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: translate(-47px, -2px);
}

/* Search button hover effect */
.search-button:hover {
  background-color: #0056b3;
}

